body{
    padding: 6%;
    background-color: rgb(199, 199, 199);
    height: 100vh;  
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    background-color: rgb(253, 253, 253);
    padding: 3%;
    border-radius: 18px;
}
p{
    font-size: xx-large;
    margin-bottom: 6%;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

